@import url(//fonts.googleapis.com/css?family=Stalemate);
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
div,
ol,
li {
  margin: 0;
  padding: 0;
}
a:link {
  text-decoration: none;
}
.container {
  max-width: 600px;
  margin: auto;
}
.dining-table {
  display: none;
}
.dining-table .serving-dish {
  background-color: #fcf3bd;
  text-align: center;
  padding: 10px 14px;
  font-style: italic;
  font-family: 'Stalemate', cursive;
  font-size: 48px;
  line-spacing: 1.2;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
.dining-table .response ol {
  margin: 0 15px;
}
.dining-table .response ol li {
  display: inline-block;
  width: 250px;
  padding: 10px 15px;
  margin: auto;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
.dining-table .response ol li + li {
  margin-left: 10px;
}
.dining-table .response ol li.positive {
  background-color: #d5f0d6;
}
.dining-table .response ol li.negative {
  background-color: #f0d5ef;
}
a {
  color: #00B7FF;
}
